html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: sans-serif;
    vertical-align: baseline;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#container {
    width: 300px;
    margin: 50px auto;
    padding: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 0 25px #58585a;
}

#container .Header {
    font-size: 60px;
    font-family: 'Billabong', sans-serif;
    font-weight: ;
    text-align: center;
}

#container .subheader {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: 'Billabong', sans-serif;
    font-weight: lighter;
    font-size: 23px;
}

.content {

    padding-top: 10px;
}

input[type="email"] {
    padding: 10px 10px;
    padding-top: 10px;
    margin: 10px 50px 10px 40px;
    width: 200px;
    font-family: 'SAO', sans-serif;
    font-size: 17px;
}

input[type="text"] {
    padding: 10px 10px;
    padding-top: 10px;
    margin: 10px 50px 10px 40px;
    width: 200px;
    font-family: 'SAO', sans-serif;
    font-size: 17px;
}

input[type="password"] {
    padding: 10px 10px;
    margin: 10px 50px 10px 40px;
    width: 200px;
    font-family: 'SAO', sans-serif;
    font-size: 17px;
}

input[type="submit"] {
    margin: 10px 50px 10px 40px;
    width: 200px;
    padding: 5px;
    text-align: center;
    width: 225px;
    background-color: #49769d;
    color: white;
    border: 0;
    box-shadow: 0 0 4px #97836d;
    font-family: 'SAO', sans-serif;
    font-size: 20px;
}

#container .Footer {
    margin: 5px;
    padding: 10px auto;
    font-size: 16px;
    text-align: center;
    font-family: "Billabong";
    font-weight: lighter;
    font-size: 20px;
}

body {

    background-image: url(bg.png);
    background-size: 100%;
}

table{
	font-size: 100px;
}

/*STYLE HASIL*/

#container .hasil {
	text-align: justify-all;
	font-size: 20px;
	font-family: 'SAO', sans-serif;
	font-weight: lighter;
}

#container .hasil .email{
	padding: 10px;
	margin:15px;
	width: 250px;
	background-color: white;
}

#container .hasil .fullname{
	padding: 10px;
	margin:15px;
	width: 250px;
	background-color: white;
}

#container .hasil .user{
	padding: 10px;
	margin:15px;
	width: 250px;
	background-color: white;
}

#container .hasil .pass{
	padding: 10px;
	margin:15px;
	width: 250px;
	background-color: white;
}